*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*html,body{
	width: 7.5rem;
	height: 100%;
}*/
.page{
	width: 7.5rem;
	height: 100vh;
	position: fixed;
	left: 0;
	top:0;
	overflow: hidden;
}
.page.start{
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background: purple;
}
.startBtn{
	width: 4.5rem;
	height: 1.5rem;
	font-size: 0.8rem;
	border: none;
	border-radius: 0.75rem;
	background: palegoldenrod;
	color: brown;
	box-shadow: 0 0 0.2rem 0.1rem brown;
}
.gaming{
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: purple;
	position: relative;
}
.header{
	position: absolute;
	left: 0;
	top: 0;
	width: 7.5rem;
	height: 1.6rem;
	font-size: 0.6rem;
	background: lightseagreen;
	font-weight: 700;
	color: #555;
}
.header .left{
	display: inline-block;
	height: 1.6rem;
	width:3.5rem;
	text-align: center;
	line-height: 1.6rem;	
}
.header .left .timing{

}
.header .right{
	display: inline-block;
	height: 1.6rem;
	width: 4rem;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 1.6rem;	
}

.quiz{
	font-size: 0.5rem;
	color: #fff;
	margin: 1rem 0;
}
.main{
	font-size: 0.4rem;
	color: #fff;
	margin: 1rem 0;
	background: rgba(0,0,0,0.6);
	padding: 0.4rem;
	border-radius: 0.5rem;
}
.optionItem{
	padding: 0.2rem;
	border-radius: 0.3rem;
	margin: 0.1rem 0;	
}
.end{
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	background: paleturquoise;
	font-size: 0.5rem;
}
.restart{
	margin-top: 0.5rem;
	width: 3.5rem;
	height: 1.5rem;
	font-size: 0.6rem;
	border: none;
	border-radius: 0.75rem;
	background: #b3eeaa;
	color: #555;
	font-weight: 600;
	box-shadow: 0 0 0.5rem 0.1rem #efefef;
}
